.modal{
    border-radius: 10px;
    padding: 16px;
    width: 118px;
    height: 88px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
    background: #fff;
    margin-right: 0px;
    margin-top: 2px;
    position: relative;
}

.button{
    display: flex;
    flex-wrap: wrap;
    width: 86px;
    height: 20px;
    margin-bottom: 16px;
    background-color: #fff;
    color: #fff;
    cursor: pointer;
}

.button>p:hover {
    color: #FF9D43;
}


.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #407bff;
    padding: 0;
}

.svg{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 0;
}
