.header {
  color: var(--Primery-Color-Blue, #407bff);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */

  text-align: start;
  padding-bottom: 20px;
}

.button {
  margin-top: 16px;
  margin-bottom: 40px;
  width: 280px;
  height: 36px;

  display: inline-flex;
  padding: 6px 76px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  background: var(--Primery-Color-Blue, #407bff);
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
}

.btnSpan {
  color: var(--Primery-Color-White, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.btnIcon {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .wrapperwrapper {
    display: flex;
    flex-direction: row;
    width: 704px;
    height: 90px;
  }
  .shkala {
    flex-grow: 1;
  }
  .button {
    flex-grow: 1;
    max-width: 336px;
    height: 44px;
    padding: 10px 104px;
  }
}

@media (min-width: 768px) {

  .shkala {
    flex-grow: 1;
  }

  .button {
    flex-grow: 1;
    padding: 10px 30px;
    max-width: 178px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
  }
}


.ritio{
  width: 280px;
  /*height: 82px;*/
}

.ritiocon{
  border-radius: 10px;
  width: 256px;
  height: 8px;
  background: #d7e3ff;
  margin-left: auto;
  margin-right: auto;
}

.status{
  border-radius: 10px;
  width: 0px;
  height: 8px;
  background: #9ebbff;
  position: relative;
}

.but{
  position: absolute;
  border-radius: 100%;
  fill: #fff;
  stroke-width: 1px;
  stroke: #407bff;
  margin-left: calc(100% - 7px);
  top: -7px;
}

.label{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 280px;
  height: 32px;
  margin-top: 7px;
}

.labeltwo{
  border: 1px solid #d7e3ff;
  width: 0px;
  height: 8px;
  margin-left: 12px;
}

.labeltry{
  border: 1px solid #d7e3ff;
  width: 0px;
  height: 8px;
  margin-left: auto;
  margin-right: 12px;
}

.text{
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #407bff;
  width: 22px;
  height: 16px;
  position: absolute;
  top: 16px;
  left: 0px;
}

.texttwo {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #407bff;
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: -25px;
}

.texttry {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #407bff;
  width: 30px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 0px;
}

.labelstatus{
  position: relative;
  border: 1px solid #d7e3ff;
  width: 0px;
  height: 8px;
  margin-left: 0px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {

  .ritio {
    width: 356px;
    /*height: 82px;*/
  }

  .ritiocon {
    width: 325px;
  }

  .label {
    width: 347px;
  }

}

@media only screen and (min-width: 1440px) {

  .buttonRed {
    margin-right: auto;
  }

  .button {
    margin-left: 0;
  }

}