.modal {
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;*/
}

.button{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    height: 28px;
    margin-top: 10px;
    margin-bottom: auto;
    /*padding-top: auto;
    padding-bottom: auto;*/
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: none;
    /*width: 118px;*/
}

.username{
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: #2F2F2F;
    /*width: 60px;*/
}

.userphoto{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin-right: 4px;
}

.svg{
    width: 16px;
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    fill: #407BFF;
}

.svg:hover{
    fill: #FF9D43;
}


@media only screen and (min-width: 768px) {

    .username {
        font-size: 18px;
        line-height: 133%;
    }

}
