/*.container {
  padding: 8px 20px;
  margin: 0 auto;
  width: 320px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 16px 32px;
    width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 12px 112px;
    width: 1440px;
  }
}
*/


