.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

/*TODO =====================MEDIA===================== */

@media (min-width: 320px) {
  .background {
    background-image: url(../../images/WelcomePage/mobile/background-main-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 40px;
    background-attachment: fixed;
  }
}
@media (min-width: 320px) and (min-resolution: 192dpi),
  (min-width: 320px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../../images/WelcomePage/mobile/background-main-page@2x.png);
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url(../../images/WelcomePage/tablet/background-main-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    background-attachment: fixed;
  }

  .wrap {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../../images/WelcomePage/tablet/background-main-page@2x.png);
    background-size: contain;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .background {
    background-image: url(../../images/WelcomePage/desktop/background-element-main-page.png),
      url(../../images/WelcomePage/desktop/background-main-page.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }

  .wrap {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 80px;
  }
}
@media (min-width: 1440px) and (min-resolution: 192dpi),
  (min-width: 1440px) and (min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../../images/WelcomePage/desktop/background-element-main-page@2x.png),
      url(../../images/WelcomePage/desktop/background-main-page@2x.png);
  }
}
