.container_photo {
  background-image: url(../../images/svg/bg-home-m.svg);
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 8px 20px;
  margin: 0 auto;
  width: 320px;
}

.calendar{
  border-radius: 10px;
  padding: 24px 8px;
  width: 280px;
  /*  height: 836px;*/
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: #ecf2ff;
}

@media (min-width: 768px) {
  .container_photo {
    background-image: url(../../images/svg/bg-home-t.svg);
    width: 768px;
  }

  .container {
    padding: 16px 32px;
    width: 768px;
  }

    .body {
      display:block;
    }

  .calendar {
    padding: 32px 24px;
    width: 704px;
    margin-top: 40px;
  }

}

@media (min-width: 1440px) {
  .container_photo {
    background-image: url(../../images/svg/bg-home-d.svg);
    width: 1440px;
  }
  
  .container {
    padding: 12px 112px;
    width: 1440px;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .calendar {
    width: 592px;
  }

  .ratio{
    margin-top: auto;
    margin-bottom: 0;
  }
  
}
