.container {
  background-image: url(../../images/svg/bg-home-m.svg);
  width: 320px;
}

.calendar{
  border-radius: 10px;
  padding: 24px 8px;
  width: 280px;
  /*  height: 836px;*/
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: #ecf2ff;
}

@media (min-width: 768px) {
  .container {
    background-image: url(../../images/svg/bg-home-t.svg);
    width: 768px;
  }

    .calendar {
      padding: 32px 24px;
      width: 704px;
    }

}

@media (min-width: 1440px) {
  .container {
    background-image: url(../../images/svg/bg-home-d.svg);
    width: 1440px;
  }

    .calendar {
      width: 592px;
    }
}
